project1/Contact.java
project1/ContactInterface.java
project1/PersonalContact.java
project1/ContactList.java
project1/personalContacts1.txt
project1/PersonalInfo.java
project1/Status.java
project1/Table.java
project1/WorkContact.java
project1/workContacts2.txt
